[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pipenv = "*"
shell = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
psycopg2-binary = "*"
flask-restful = "*"
python-dotenv = "*"
faker = "*"
sqlalchemy-serializer = "*"

[dev-packages]

[requires]
python_version = "3.8"
